<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Arena</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/Images/Head.png">
    <link
      rel="stylesheet"
      href="../public/assets/CSS/HowToPlay.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="Play-Box">
      <h1>How to Play Snake Arena</h1>
      <br />
      <br />
      <hr />
      <br />
      <h2>Game Objective</h2>
      <br />
      <p>
        Welcome to the Snake Game! Your objective is simple: guide the hungry
        and venomous snake as it slithers through the game board, gobbling up
        apples to grow longer and earn the highest score possible. Beware of the
        walls and the snake's own body – a collision means it's game over.
        Challenge yourself to beat your high score and prove that your
        competition is you!
      </p>
      <br />
      <h2>Controls</h2>
      <br />
      <p>Take control of the snake using the arrow keys on your keyboard:</p>
      <br />
      <ul>
        <li><b>Arrow Up</b>: Move the snake upward</li>
        <li><b>Arrow Down</b>: Move the snake downward</li>
        <li><b>Arrow Left</b>: Move the snake left</li>
        <li><b>Arrow Right</b>: Move the snake right</li>
      </ul>
      <br />
      <h2>Gameplay Rules</h2>
      <br />
      <ul>
        <li>
          The game board has boundaries, and if the snake hits a wall, you lose.
          Play wisely!
        </li>
        <li>
          The snake can eat anything in its path, but be cautious not to let its
          own body obstruct its way.
        </li>
      </ul>
      <br />
      <h2>Scoring Systems</h2>
      <br />
      <li>
        Apples are your reward. The more apples the snake eats, the higher your
        score.
      </li>
      <li>
        Each time you beat your high score, a new high score is set. Your only
        competition is yourself!
      </li>
      <br />
      <h2>Power-Ups</h2>
      <br />
      <p>
        Here's the twist: apples give energy. Once the snake devours an apple,
        its speed increases by 0.2x. Get ready for an adventurous challenge!
      </p>
      <br />
      <h2>Game Over Conditions</h2>
      <br />
      <p>Game over happens if the snake:</p>
      <ul>
        <li>Collides with the game board's walls</li>
        <li>Accidentally eats its own body</li>
      </ul>
      <br />
      <h2>Pause and Play</h2>
      <br />
      <ul>
        <li>
          An Important work is awaiting ? We got your priorities coverd. Just
          Hit over the <b>Pause Button</b> and await the adventure.
        </li>
        <li> 
          Wanna Get Back ? Hit <b>Play Button</b>
        </li>
      </ul>
    </div>
  </body>
</html>
